0,Always true
1,Practice mode move demo
2,Attack to Throw
3,Throw Hits Forward (Standing)
4,Throw Hits Backward (Standing)
5,Throw Hits Left Side (Standing)
6,Throw Hits Right Side (Standing)
7,Throw Hits Forward (Crouching)
8,Throw Hits Backward (Crouching)
9,Throw Hits Left Side (Crouching)
10,Throw Hits Right Side (Crouching)
11,Throw Hits Forward (Face Up)
12,Throw Hits Backward (Face Up)
13,Throw Hits Left Side (Face Up)
14,Throw Hits Right Side (Face Up)
15,Throw Hits Forward (Face Down)
16,Throw Hits Backward (Face Down)
17,Throw Hits Left Side (Face Down)
18,Throw Hits Right Side (Face Down)
23,Attack to Throw (Forward)
24,Attack to Throw (Backward)
25,Attack to Throw (Left Side)
26,Attack to Throw (Right Side)
27,Airborne Throw Hit (Forward)
28,Airborne Throw Hit (Backward)
29,Airborne Throw Hit (Left Side)
30,Airborne Throw Hit (Right Side)
35,Opponent distance smaller or equal
36,Opponent distance greater or equal
44,On Hit
47,On block
48,On whiff
49,On hit/block
51,On hit
66,Standing
67,Crouching
68,Incoming high attack
69,Incoming mid attack
72,Backturned
73,Not Backturned
92,Opponent facing Forward
93,Opponent facing Left
94,Opponent facing Right
95,Opponent facing Back
96,Opponent facing Forward
97,Opponent facing Left
98,Opponent facing Right
99,Opponent facing Back
100,Enemy within 1792 units & last active frame not reached & attack is high
101,Enemy first active frame - curr frame < X
102,Enemy first active frame - curr frame >= X
103,Enemy first active frame - curr frame = X
104,Enemy last active frame - curr frame < X
105,Enemy last active frame - curr frame >= X
106,Enemy last active frame - curr frame = X
110,Enemy move frame >= X
111,Enemy move frame < X
112,Enemy move frame == X
113,Enemy move frame >= X
114,Enemy move frame >= X
126,Opponent downed
127,Opponent on their feet
130,Counterhit
131,Pressed ONLY LP (1)
132,Pressed ONLY RP (2)
133,Pressed ONLY LP+RP (1+2)
135,On death
139,Player HP check (direct)
141,Opponent HP check (direct)
143,Player HP check (percentage)
144,Opponent HP check (percentage)
146,Standing on left side
147,Standing on right side
148,On ground (right side)
149,On ground (left side)
155,If Ki Charged
156,Opponent is in rage
157,Rage
176,Geese in Max-Mode
177,Throwbreak On(?)
182,Near Wall
217,Player character ID
218,Player NOT character ID
219,Opponent character ID
220,Opponent NOT character ID
221,Character ID
222,NOT Character ID
223,Opponent Character ID
224,Opponent NOT Character ID
225,Player is CPU
253,Bryan taunted
255,Check value (prop 0x807c)
256,Bryan taunted
284,Player Flag (prop 0x8106) >= param
308,Lucky Chloe RA point check
329,Check value (prop 0x807c)
344,Kazuya Devil Form
345,Check Lucky Chloe RA points
346,Check value (prop 0x80c5)
351,Claudio Starburst
352,Check value (prop 0x80a6)
359,Check player flag (prop 0x8106)
361,Check value (prop 0x80ed)
532,Check Player speed(?)
533,Check Player speed(?)
534,Check Player speed(?)
552,Random number generator (uniform)
553,Random number generator (weighted)
558,Story Battle
559,Story Battle Number
563,Gamemode
566,Outro Related(?)
569,Intro(?)
570,Outro Related(?)
573,Check Stage ID
607,Opponent is Airborne
608,Opponent is Not Airborne
609,Has item
614,Juggle
615,Screw available
629,Meter equal or higher
634,Treasure Battle Special Match
637,Check Match Point
639,Parry Zoom
641,Once per match (Leroy Cane)
765,Arcade Mode Stage 4
813,Parry high
814,Parry mid
815,Parry low
816,Parry high and mid
817,Parry group
830,Attack absorption (Power Crush)
859,Parry high (special)
860,Parry mid (special)
861,Parry low (special)
862,Parry high and mid (special)
863,Parry high
864,Parry mid
865,Parry low
866,Parry high and mid
871,Parry high
872,Parry mid
873,Parry low
874,Parry high and mid
881,Requirements end
